{% extends "./base.html" %}
{% block title %} {{title}} {% endblock %}
{% block content%}

<!--Wrapper Start-->
<div class="wrapper">
  <!--Header Start-->
  {% include "./widgets/header.html" %}
  <!--Header End-->
  <!--Main Slider Start-->
  {% with banner_title = 'Page 404' %}
  {% include "./widgets/small_banner.html" %}
  {% endwith %}
  <!--Main Slider End-->
  <!--Main Content Start-->
  <div class="main-content p80 innerpagebg wf100">
    <!--Page 404 Page Start-->
    <div class="error-page-404">
      <div class="container">
        <div class="p404-wrap">
          <h1>404</h1>
          <h2> <em>Ooops!</em> Page Not Found</h2>
          <p>{{e}}</p>
          <a href="/" class="b2home"><i class="fas fa-home"></i> Go Back to Home</a>
        </div>
      </div>
    </div>
    <!--Page 404 Page Start-->
  </div>
  <!--Main Content End-->
  <!--Main Footer Start-->
  {% include "./widgets/footer.html" %}
  <!--Main Footer End-->
</div>
<!--Wrapper End-->

{% endblock %}
