<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="static/static/images/fav.png" type="image/png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/css/custom.css">
  <link rel="stylesheet" href="static/css/responsive.css">
  <link rel="stylesheet" href="static/css/color.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/fontawesome.css">
  <link rel="stylesheet" href="static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="static/css/prettyPhoto.css">
  <title>{{title}}</title>
</head>

<body>
  <!--Wrapper Start-->
  <div class="wrapper">
    <!--Header Start-->
    {% include "./widgets/header.html" %}
    <!--Header End-->
    <!--Main Slider Start-->
    {% with banner_title = title %}
    {% include "./widgets/small_banner.html" %}
    {% endwith %}
    <!--Main Slider Start-->
    <!--Main Content Start-->
    <div class="main-content innerpagebg wf100">
      <!--team Page Start-->
      <div class="team wf100 p80">
        <!--Start-->
        <div class="player-squad">
          <div class="container">
            <div class="row">
              <!--Squad Start-->
              <div class="col-lg-8">

                <!--Player Biography Start-->
                <div class="player-bio">
                  <h4>Club History</h4>
                  <div class="txt">
                    <p>Yadah FC was established by Prophet Walter Magaya in 2013. The club was mainly composed of church
                      ushers and congregants during it's formative years. In 2015 Yadah FC gained entry into the ZIFA
                      Division one in Eastern region. The miracle boys as they are affectionately known by their legions
                      of fans won the ZIFA Division one Eastern region title in their maiden appearance. In 2017 Yadah
                      FC got it's promotion into the top flight league and had never been chopped from the top flight
                      league since then.
                    <blockquote>Prophet Walter Magaya is a very passionate man who doubles both as the owner
                      and techincal advisor of the team. </blockquote> club mainly uses the national Sports Stadium for
                    the it's
                    home matches and the prospect training ground situated adjacent to the Yadah magnificent hotel as
                    the training ground. The Yadah FC players traditionally don the red and white striped jerseys
                    during home matches. Yadah FC is the first church owned club to gain entry into the top flight
                    league.</p>
                  </div>
                </div>
                <!--Player Biography End-->
                <!--Career Facts Start-->
                <div class="career-facts">
                  <h4>Career Facts</h4>
                  <table>
                    <thead>
                      <tr>
                        <th>Season
                          </td>
                        <th colspan="2">Match</th>
                        <th colspan="2">Goals</th>
                        <th colspan="2">Discipline</th>
                        <th colspan="2">Passing</th>
                        <th colspan="2">Warning</th>
                        <th colspan="2">Total Goals</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in range(3) %}
                      <tr>
                        <td>2019</td>
                        <td>10</td>
                        <td>80</td>
                        <td>60</td>
                        <td>20</td>
                        <td>02</td>
                        <td>05</td>
                        <td>12</td>
                        <td>01</td>
                        <td>20</td>
                        <td>00</td>
                        <td>12</td>
                        <td>0</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!--Career Facts End-->
                <!--Highlights & Gallery Start-->
                <div class="highlights-gallery gallery">
                  <h2>Highlights & Gallery</h2>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-8 p-05">
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall1.jpg" alt="">
                          <p><a href="static/images/hlgall1.jpg" data-rel="prettyPhoto[gallery1]"><i
                                class="far fa-image"></i>
                              Goals are like Storm</a></p>
                        </div>
                      </div>
                      <div class="col-md-4 p-05">
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall2.jpg" alt="">
                          <p><a href="https://vimeo.com/17242531" data-rel="prettyPhoto[gallery1]"><i
                                class="fas fa-play-circle"></i> Goals are like Storm</a></p>
                        </div>
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall6.jpg" alt="">
                          <p><a href="https://vimeo.com/17242531" data-rel="prettyPhoto[gallery1]"><i
                                class="fas fa-play-circle"></i> Goals are like Storm</a></p>
                        </div>
                      </div>
                      <div class="col-md-4 p-05">
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall3.jpg" alt="">
                          <p><a href="static/images/hlgall3.jpg" data-rel="prettyPhoto[gallery1]"><i
                                class="far fa-image"></i>
                              Goals are like Storm</a></p>
                        </div>
                      </div>
                      <div class="col-md-4 p-05">
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall4.jpg" alt="">
                          <p><a href="https://vimeo.com/17242531" data-rel="prettyPhoto[gallery1]"><i
                                class="fas fa-play-circle"></i> Goals are like Storm</a></p>
                        </div>
                      </div>
                      <div class="col-md-4 p-05">
                        <div class="hlg-thumb">
                          <img src="static/images/hlgall5.jpg" alt="">
                          <p><a href="static/images/hlgall5.jpg" data-rel="prettyPhoto[gallery1]"><i
                                class="far fa-image"></i>
                              Goals are like Storm</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--Highlights & Gallery End-->
              </div>
              <!--Squad End-->
              <!--Sidebar Start-->
              {% include "./widgets/side_pan.html" %}
              <!--Sidebar End-->
            </div>
          </div>
        </div>
        <!--End-->
      </div>
      <!--team Page End-->
    </div>
    <!--Main Content End-->
    <!--Main Footer Start-->
    {% include "./widgets/footer.html" %}
    <!--Main Footer End-->
  </div>
  <!--Wrapper End-->
  <!-- Optional JavaScript -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/jquery-migrate-3.0.1.js"></script>
  <script src="static/js/popper.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/mobile-nav.js"></script>
  <script src="static/js/owl.carousel.min.js"></script>
  <script src="static/js/jquery.prettyPhoto.js"></script>
  <script src="static/js/jquery.countdown.js"></script>
  <script src="static/js/custom.js"></script>
</body>

</html>