<header id="main-header" class="main-header">
  <!--topbar-->
  {% include "./widgets/topbar.html" %}
  <!--topbar end-->
  <!--Logo + Navbar Start-->
  <div class="logo-navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-5">
          <div class="logo"><a href="index.html"><img src="static/images/logo-dark.png" alt=""></a></div>
        </div>
        <div class="col-md-10 col-sm-7">
          <nav class="main-nav">
            <ul>
              <li class="nav-item"> <a href="/">Home</a></li>
              <li class="nav-item drop-down"> <a href="javascript:void(0)">Matches</a>
                <ul>
                  <li><a href="/upcoming-match">Upcoming Match</a></li>
                  <li><a href="/match-results">Match Results</a></li>
                  <li><a href="/match-details">Match Details</a></li>
                </ul>
              </li>
              <li class="nav-item drop-down"> <a href="javascript:void(0)">Players</a>
                <ul>
                  <li><a href="team-one.html">Team One</a></li>
                  <li><a href="team-details.html">Team Details</a></li>
                  <li><a href="staff-details.html">Staff Details</a></li>
                </ul>
              </li>
              <li class="nav-item drop-down"> <a href="javascript:void(0)">Features</a>
                <ul>
                  <li> <a href="javascript:void(0)">Shop</a></li>
                  <li> <a href="javascript:void(0)">Gallery</a></li>
                </ul>
              </li>
              <li class="nav-item drop-down"> <a href="javascript:void(0)">News</a>
                <ul>
                  <li><a href="news-grid.html">News Grid</a></li>
                  <li><a href="news-details.html">News Details</a></li>
                </ul>
              </li>
              <li class="nav-item drop-down"> <a href="fixtures-layout-1.html">Fixtures</a></li>

              <li class="nav-item drop-down"> <a href="/contact">Contact</a></li>
              <li class="nav-item buy-ticket"> <a href="#">Buy Tickets</a> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--Logo + Navbar End-->
</header>