<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <ul class="topsocial">
          <li><a href="#facebook" class="fb"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#twitter" class="tw"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#instagram" class="insta"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="toplinks">
          <li class="lang-btn">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ENG </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="javascript:void(0);">ENG</a>
              </div>
            </div>
          </li>
          <li class="currency-btn">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="currencydropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> USD </button>
              <div class="dropdown-menu" aria-labelledby="currencydropdown">
                <a class="dropdown-item" href="index.html#">USD</a>
                <a class="dropdown-item" href="index.html#">ZWL</a>
              </div>
            </div>
          </li>
          <li class="acctount-btn"> <a href="dashboard">My Account</a> </li>
          <li class="search-btn"> <a class="search-icon" href="#search"><i class="fas fa-search"></i></a>
          </li>
        </ul>

        <div id="search">
          <button type="button" class="close">×</button>
          <form class="search-overlay-form">
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>